* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: caveatR;
  src: url(fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: caveatB;
  src: url(fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: gillsansL;
  src: url(fonts/GillSans-Light.ttf);
}
@font-face {
  font-family: gillsansR;
  src: url(fonts/GillSans.ttf);
}
@font-face {
  font-family: latoR;
  src: url(fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: latoB;
  src: url(fonts/Lato-Black.ttf);
}
@font-face {
  font-family: latoL;
  src: url(fonts/Lato-Light.ttf);
}
@font-face {
  font-family: latoLI;
  src: url(fonts/Lato-Lightitalic.ttf);
}
@font-face {
  font-family: latoI;
  src: url(fonts/Lato-Italic.ttf);
}
.app {
  position: relative;
  height: 100%;
}

.header {
  /* background-color: #fff; */
  /* box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1); */
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 3;
  background-color: aqua;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  /* background-color: #fff; */
  position: fixed;
  right: 50px;
}

.header li a {
  display: block;
  padding: 20px 20px;
  /* border-right: 1px solid #f4f4f4; */
  text-decoration: none;
  font-family: caveatR;
  font-size: 25px;
  color: black;
}

.header ul li.active a {
  height: 60px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: black 3px solid;
  width: 100%;
  text-align: center;
  font-family: caveatB;
}

.header li a:hover {
  font-family: caveatB;
}

.header li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.yourRecipesLink {
  display: none;
  color: maroon;
}

.createRecipesLink {
  display: none;
  color: maroon;
}

#loginbutton {
  width: 158px;
  height: 58px;
  border-radius: 26px;
  background-color: #ffd972;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
  margin: 0 auto 0 auto;
  color: black;
  font-size: 25px;
  font-family: caveatR;
  padding: 20px 20px;
}

#loginbutton:hover {
  font-family: caveatB;
}

#logoutbutton {
  width: 158px;
  height: 58px;
  border-radius: 26px;
  background-color: #ffd972;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
  margin: 0 auto 0 auto;
  color: black;
  font-size: 25px;
  font-family: caveatR;
  padding: 20px 20px;
}

#logoutbutton:hover {
  font-family: caveatB;
  display: none;
  cursor: pointer;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;
  position: fixed;
  top: 50px;
  left: 50px;
  width: 167px;
  height: 55px;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  margin-bottom: 20px;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  text-align: center;
  margin-right: 20px;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  position: fixed;
  top: 50px;
  right: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2.8px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 25px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 400px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 900px) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }

  .header .logo {
    width: 136px;
    height: 47px;
  }
}
@media (max-width: 950px) {
  .header {
    width: 400px;
    font-size: 20px;
    background-color: blueviolet;
  }
}
@media (max-width: 900px) {
  .header .menu {
    background-color: rgba(255, 255, 255, 0.9);
    width: 200px;
    margin-right: 50px;
  }

  .header li .btn {
    margin: 20px;
  }
}
@media (max-width: 360px) {
  .header li .btn {
    width: 80px;
  }

  .header li a {
    width: 100px;
    font-size: 20px;
    margin: 0 auto;
  }
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.footer .copyright {
  width: 262px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
  padding-left: 10px;
}
.footer .copyright p {
  font-size: 15px;
  font-family: latoI;
  color: #393939;
}
.footer .links {
  width: 640px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.footer .links a {
  font-size: 15px;
  font-family: latoI;
  text-decoration: none;
  color: #393939;
}
.footer .links a:hover {
  color: black;
  border-bottom: black 1px solid;
}
.footer .social-holder {
  min-width: 78px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 10px;
}
.footer .social-holder .social {
  width: 19px;
  height: 19px;
  color: #393939;
}
.footer .social-holder .social .color {
  color: #393939;
  fill: #393939;
}

.footer2 {
  display: none;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
}
.footer2 .upper-footer {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.footer2 .upper-footer .copyright {
  width: 170px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 30px;
}
.footer2 .upper-footer .copyright p {
  font-size: 10px;
  font-family: latoI;
  color: #393939;
}
.footer2 .upper-footer .social-holder {
  min-width: 78px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 10px;
}
.footer2 .upper-footer .social-holder .social {
  width: 19px;
  height: 19px;
  color: #393939;
}
.footer2 .upper-footer .social-holder .social .color {
  color: #393939;
}
.footer2 .lower-footer .links {
  width: 270px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  margin: 0 auto;
}
.footer2 .lower-footer .links a {
  font-size: 10px;
  font-family: latoI;
  text-decoration: none;
  color: #393939;
}
.footer2 .lower-footer .links a:hover {
  color: black;
}

@media only screen and (max-width: 900px) {
  .footer {
    padding: 30px;
    min-height: 140px;
  }
  .footer .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
  }
  .footer .links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    padding: 20px;
  }
  .footer .copyright {
    width: 200px;
  }
  .footer .copyright p {
    font-size: 10px;
  }
  .footer .links a {
    font-size: 10px;
    padding: 10px;
  }

  .footer2 {
    display: none;
  }
}
@media only screen and (max-width: 360px) {
  .footer {
    display: none;
  }

  .footer2 {
    display: block;
  }
}
.home {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(242, 92, 84, 0.6)), to(rgba(242, 92, 84, 0.6))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(242, 92, 84, 0.6), rgba(242, 92, 84, 0.6)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home .circle-holder {
  width: 500px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.home .circle-holder .little-circle {
  position: absolute;
  width: 168px;
  height: 168px;
  background-color: #fcbcb8;
  border-radius: 100px;
  margin-left: 300px;
  margin-top: -300px;
  z-index: -0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
}
.home .circle-holder .little-circle p {
  text-align: center;
  font-size: 10px;
  font-family: latoI;
  width: 105px;
}
.home .circle-holder .big-circle {
  width: 358px;
  height: 358px;
  background-color: #ffd972;
  border-radius: 200px;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
}
.home .circle-holder .big-circle .text-holder {
  width: 170px;
  height: 170px;
  text-align: center;
}
.home .circle-holder .big-circle .text-holder h1 {
  font-family: caveatB;
  font-size: 24px;
  width: 162px;
}
.home .circle-holder .big-circle .text-holder p {
  font-family: latoR;
  font-size: 13px;
  width: 162px;
}

@media only screen and (max-width: 768px) {
  .home .circle-holder .little-circle {
    margin-left: 130px;
    margin-top: -380px;
  }
}
@media only screen and (max-width: 370px) {
  .home .circle-holder .little-circle {
    height: 121px;
    width: 121px;
    margin-top: -260px;
    margin-left: 130px;
  }
  .home .circle-holder .little-circle p {
    font-size: 8px;
    width: 80px;
    font-size: LatoI;
  }
  .home .circle-holder .big-circle {
    height: 258px;
    width: 258px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .home .circle-holder .big-circle .text-holder {
    height: 100px;
  }
  .home .circle-holder .big-circle .text-holder h1 {
    font-size: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    height: 15px;
    padding-top: 20px;
  }
  .home .circle-holder .big-circle .text-holder p {
    font-size: 9px;
    width: 112px;
    height: 55px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
}
.browse {
  width: 100%;
  min-height: 1000px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(167, 232, 189, 0.8)), to(rgba(167, 232, 189, 0.8))), url(../images/recipe-hero.jpg);
  background-image: linear-gradient(to right, rgba(167, 232, 189, 0.8), rgba(167, 232, 189, 0.8)), url(../images/recipe-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.browse .browse-content {
  margin-top: 70px;
  width: 90%;
  min-height: 670px;
}
.browse .browse-content .headerPage {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
}
.browse .browse-content .headerPage h2 {
  font-size: 25px;
  font-family: caveatB;
}
.browse .browse-content .recipes-holder {
  width: 100%;
  min-height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.browse .browse-content .recipes-holder .recipe {
  width: 525px;
  min-height: 263px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.browse .browse-content .recipes-holder .recipe .pizza {
  width: 300px;
  height: 263px;
  background-image: url(../images/recipe-pizza.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.browse .browse-content .recipes-holder .recipe .pizza .recipeView {
  background-color: #ffd972;
  -webkit-box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
  width: 128px;
  height: 42px;
  border-radius: 26px;
  font-family: caveatR;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: black;
}
.browse .browse-content .recipes-holder .recipe .pizza .recipeView a {
  text-decoration: none;
  color: black;
}
.browse .browse-content .recipes-holder .recipe .pizza .recipeView:hover {
  font-family: caveatB;
}
.browse .browse-content .recipes-holder .recipe .burger {
  width: 300px;
  height: 263px;
  background-image: url(../images/recipe-burger.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.browse .browse-content .recipes-holder .recipe .burger .recipeView {
  background-color: #ffd972;
  -webkit-box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
  width: 128px;
  height: 42px;
  border-radius: 26px;
  font-family: caveatR;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: black;
}
.browse .browse-content .recipes-holder .recipe .burger .recipeView a {
  text-decoration: none;
  color: black;
}
.browse .browse-content .recipes-holder .recipe .burger .recipeView:hover {
  font-family: caveatB;
}
.browse .browse-content .recipes-holder .recipe .pilaf {
  width: 300px;
  height: 263px;
  background-image: url(../images/recipe-pilaf.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.browse .browse-content .recipes-holder .recipe .pilaf .recipeView {
  background-color: #ffd972;
  -webkit-box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
  width: 128px;
  height: 42px;
  border-radius: 26px;
  font-family: caveatR;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: black;
}
.browse .browse-content .recipes-holder .recipe .pilaf .recipeView a {
  text-decoration: none;
  color: black;
}
.browse .browse-content .recipes-holder .recipe .pilaf .recipeView:hover {
  font-family: caveatB;
}
.browse .browse-content .recipes-holder .recipe .chowmein {
  width: 300px;
  height: 263px;
  background-image: url(../images/recipe-chowmein.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.browse .browse-content .recipes-holder .recipe .chowmein .recipeView {
  background-color: #ffd972;
  -webkit-box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
  width: 128px;
  height: 42px;
  border-radius: 26px;
  font-family: caveatR;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: black;
}
.browse .browse-content .recipes-holder .recipe .chowmein .recipeView a {
  text-decoration: none;
  color: black;
}
.browse .browse-content .recipes-holder .recipe .chowmein .recipeView:hover {
  font-family: caveatB;
}
.browse .browse-content .recipes-holder .recipe .text-holder {
  width: 224px;
  height: 263px;
  background-color: azure;
  border-radius: 24px;
  padding: 40px;
}
.browse .browse-content .recipes-holder .recipe .text-holder .title {
  width: 130px;
  height: 20px;
  border-bottom: black 3px solid;
}
.browse .browse-content .recipes-holder .recipe .text-holder .title h1 {
  font-family: latoB;
  font-size: 15px;
}
.browse .browse-content .recipes-holder .recipe .text-holder .text {
  width: 138px;
  height: 55px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.browse .browse-content .recipes-holder .recipe .text-holder .text p {
  font-size: 9px;
  font-family: latoR;
}
.browse .browse-content .recipes-holder .recipe .text-holder .info {
  width: 85px;
  height: 25px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.browse .browse-content .recipes-holder .recipe .text-holder .info .servings {
  width: 24px;
  height: 22px;
  background-image: url(../images/servings.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.browse .browse-content .recipes-holder .recipe .text-holder .info .time {
  width: 24px;
  height: 22px;
  background-image: url(../images/time.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.browse .browse-content .recipes-holder .recipe .text-holder .info .words {
  width: 50px;
  height: 22px;
}
.browse .browse-content .recipes-holder .recipe .text-holder .info .words p {
  font-size: 10px;
  font-family: latoR;
}

@media only screen and (max-width: 1250px) {
  .browse {
    min-height: 1600px;
  }
  .browse .browse-content .recipes-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 400px;
  }
  .browse .browse-content .recipes-holder .recipe {
    margin: 0 auto 40px auto;
  }
}
@media only screen and (max-width: 580px) {
  .browse {
    min-height: 1800px;
  }
  .browse .browse-content .headerPage h2 {
    font-size: 20px;
  }
  .browse .browse-content .recipes-holder .recipe {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .browse .browse-content .recipes-holder .recipe .text-holder {
    width: 298px;
    height: 169px;
  }
  .browse .browse-content .recipes-holder .recipe .text-holder .title {
    width: 86px;
    height: 15px;
    margin: -20px auto 0 auto;
  }
  .browse .browse-content .recipes-holder .recipe .text-holder .title h1 {
    font-size: 10px;
  }
  .browse .browse-content .recipes-holder .recipe .text-holder .text {
    width: 153px;
    margin: 10px auto;
  }
  .browse .browse-content .recipes-holder .recipe .text-holder .text p {
    font-size: 8px;
  }
  .browse .browse-content .recipes-holder .recipe .text-holder .info {
    margin: 0 auto;
  }
  .browse .browse-content .recipes-holder .recipe .text-holder .info .time {
    width: 23px;
    height: 22px;
  }
  .browse .browse-content .recipes-holder .recipe .text-holder .info .servings {
    width: 23px;
    height: 22px;
  }
  .browse .browse-content .recipes-holder .recipe .text-holder .info .words p {
    font-size: 8px;
  }
  .browse .browse-content .recipes-holder .recipe .pizza {
    width: 298px;
    height: 149px;
  }
  .browse .browse-content .recipes-holder .recipe .burger {
    width: 298px;
    height: 149px;
  }
  .browse .browse-content .recipes-holder .recipe .pilaf {
    width: 298px;
    height: 149px;
  }
  .browse .browse-content .recipes-holder .recipe .chowmein {
    width: 298px;
    height: 149px;
  }
}
.login {
  width: 100%;
  height: 800px;
  background-color: #ffd972;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.login .login-content {
  width: 200px;
  min-height: 300px;
}
.login .login-content p {
  font-size: 12px;
  font-family: latoI;
}
.login .login-content h1 {
  font-family: latoB;
  font-size: 30px;
}
.login .login-content .input-holder {
  width: 100%;
}
.login .login-content .input-holder input {
  display: block;
  width: 206px;
  height: 60px;
  border: none;
  border-bottom: black 3px solid;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  font-family: latoR;
  outline: none;
  background-color: #ffd972;
  margin-bottom: 10px;
  color: black;
}
.login .login-content .input-holder input::-webkit-input-placeholder {
  color: black;
}
.login .login-content .input-holder input::-moz-placeholder {
  color: black;
}
.login .login-content .input-holder input:-ms-input-placeholder {
  color: black;
}
.login .login-content .input-holder input::-ms-input-placeholder {
  color: black;
}
.login .login-content .input-holder input::placeholder {
  color: black;
}
.login .login-content a .btn {
  width: 209px;
  height: 52px;
  border-radius: 26px;
  background-color: #ffd972;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
  margin: 50px auto;
  font-family: caveatR;
  font-size: 25px;
  color: black;
}
.login .login-content a .btn:hover {
  font-family: caveatB;
}
.login .signup-content {
  width: 200px;
  min-height: 460px;
}
.login .signup-content p {
  font-size: 12px;
  font-family: latoI;
}
.login .signup-content h1 {
  font-family: latoB;
  font-size: 30px;
}
.login .signup-content .input-holder {
  width: 100%;
}
.login .signup-content .input-holder input {
  display: block;
  width: 250px;
  height: 60px;
  border: none;
  border-bottom: black 3px solid;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  font-family: latoR;
  outline: none;
  background-color: #ffd972;
  margin-bottom: 10px;
  color: black;
}
.login .signup-content .input-holder input::-webkit-input-placeholder {
  color: black;
}
.login .signup-content .input-holder input::-moz-placeholder {
  color: black;
}
.login .signup-content .input-holder input:-ms-input-placeholder {
  color: black;
}
.login .signup-content .input-holder input::-ms-input-placeholder {
  color: black;
}
.login .signup-content .input-holder input::placeholder {
  color: black;
}
.login .signup-content a .btn {
  width: 250px;
  height: 52px;
  border-radius: 26px;
  background-color: #ffd972;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
  margin: 50px auto;
  font-family: caveatR;
  font-size: 25px;
  color: black;
}
.login .signup-content a .btn:hover {
  font-family: caveatB;
}

@media (max-width: 768px) {
  .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 1200px;
  }
  .login .signup-content .input-holder input {
    width: 206px;
  }
  .login .signup-content .btn {
    width: 207px;
  }
}
.create {
  width: 100%;
  padding: 20px;
  min-height: 1967px;
}
.create .create-content {
  width: 88%;
  height: 610px;
  margin: 170px auto 0 auto;
}
.create .create-content h2 {
  font-family: caveatB;
  font-size: 25px;
}
.create .create-content .input-holder {
  width: 100%;
  height: 60px;
}
.create .create-content .input-holder .recipeImage-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 60px;
  margin-top: 50px;
}
.create .create-content .input-holder .recipeImage-holder a .addBtn {
  width: 110px;
  height: 36px;
  background-color: #efa7a7;
  border-radius: 26px;
  -webkit-box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
  position: absolute;
  right: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: caveatR;
  font-size: 17px;
  color: black;
  margin-top: -20px;
}
.create .create-content .input-holder .recipeImage-holder a .addBtn:hover {
  font-family: caveatB;
}
.create .create-content .input-holder .recipeImage-holder input {
  display: block;
  width: 100%;
  height: 70px;
  border: none;
  border-bottom: black 3px solid;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: latoL;
  outline: none;
  color: black;
}
.create .create-content .input-holder .recipeImage-holder input::-webkit-input-placeholder {
  color: black;
}
.create .create-content .input-holder .recipeImage-holder input::-moz-placeholder {
  color: black;
}
.create .create-content .input-holder .recipeImage-holder input:-ms-input-placeholder {
  color: black;
}
.create .create-content .input-holder .recipeImage-holder input::-ms-input-placeholder {
  color: black;
}
.create .create-content .input-holder .recipeImage-holder input::placeholder {
  color: black;
}
.create .create-content .input-holder .plusBtn {
  width: 38px;
  height: 38px;
  background-color: #efa7a7;
  border-radius: 50px;
  position: absolute;
  right: 0;
  bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.create .create-content .input-holder .plusBtn a {
  font-family: gillsansR;
  font-size: 20px;
  color: white;
}
.create .create-content .input-holder .plusBtn input {
  display: block;
  width: 100%;
  height: 60px;
  border: none;
  border-bottom: black 3px solid;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: latoL;
  outline: none;
  margin-bottom: 10px;
  color: black;
}
.create .create-content .input-holder .plusBtn input::-webkit-input-placeholder {
  color: black;
}
.create .create-content .input-holder .plusBtn input::-moz-placeholder {
  color: black;
}
.create .create-content .input-holder .plusBtn input:-ms-input-placeholder {
  color: black;
}
.create .create-content .input-holder .plusBtn input::-ms-input-placeholder {
  color: black;
}
.create .create-content .input-holder .plusBtn input::placeholder {
  color: black;
}
.create .create-content .input-holder input {
  display: block;
  width: 100%;
  height: 60px;
  border: none;
  border-bottom: black 3px solid;
  padding-top: 20px;
  font-size: 20px;
  font-family: latoL;
  outline: none;
  margin-bottom: 60px;
  color: black;
}
.create .create-content .input-holder input::-webkit-input-placeholder {
  color: black;
}
.create .create-content .input-holder input::-moz-placeholder {
  color: black;
}
.create .create-content .input-holder input:-ms-input-placeholder {
  color: black;
}
.create .create-content .input-holder input::-ms-input-placeholder {
  color: black;
}
.create .create-content .input-holder input::placeholder {
  color: black;
}
.create .ingredientForm {
  margin: 128px auto 0 auto;
  width: 88%;
  position: relative;
}
.create .ingredientForm p {
  font-family: latoB;
  font-size: 20px;
}
.create .ingredientForm input {
  display: block;
  width: 100%;
  height: 60px;
  border: none;
  border-bottom: black 3px solid;
  padding-top: 20px;
  font-size: 20px;
  font-family: latoL;
  outline: none;
  margin-bottom: 60px;
  color: black;
}
.create .ingredientForm input::-webkit-input-placeholder {
  color: black;
}
.create .ingredientForm input::-moz-placeholder {
  color: black;
}
.create .ingredientForm input:-ms-input-placeholder {
  color: black;
}
.create .ingredientForm input::-ms-input-placeholder {
  color: black;
}
.create .ingredientForm input::placeholder {
  color: black;
}
.create .instructionsForm {
  margin: 128px auto 0 auto;
  width: 88%;
  position: relative;
}
.create .instructionsForm p {
  font-family: latoB;
  font-size: 20px;
}
.create .instructionsForm input {
  display: block;
  width: 100%;
  height: 60px;
  border: none;
  border-bottom: black 3px solid;
  padding-top: 20px;
  font-size: 20px;
  font-family: latoL;
  outline: none;
  margin-bottom: 60px;
  color: black;
}
.create .instructionsForm input::-webkit-input-placeholder {
  color: black;
}
.create .instructionsForm input::-moz-placeholder {
  color: black;
}
.create .instructionsForm input:-ms-input-placeholder {
  color: black;
}
.create .instructionsForm input::-ms-input-placeholder {
  color: black;
}
.create .instructionsForm input::placeholder {
  color: black;
}
.create .plusbtn {
  background-color: #efa7a7;
  width: 38px;
  height: 38px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  color: white;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 0;
  display: flex;
  align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.create .plusbtn a {
  font-family: gillsansR;
  font-size: 20px;
  color: white;
}
.create .plusbtn a:hover {
  font-size: 24px;
}
.create .createRecipesCreator {
  background-color: #efa7a7;
  width: 422px;
  height: 52px;
  margin: 0 auto;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: caveatR;
}
.create .createRecipesCreator a {
  font-family: caveatR;
  font-size: 20px;
  color: black;
}
.create .createRecipesCreator a:hover {
  font-family: caveatB;
}

@media (max-width: 768px) {
  .create {
    min-height: 1736px;
  }
  .create .create-content {
    height: 500px;
    margin: 150px auto 0 auto;
  }
  .create .create-content .input-holder .recipeImage-holder a .abbBtn {
    width: 200px;
  }
  .create .create-content .input-holder .recipeImage-holder input {
    font-size: 16px;
  }
  .create .create-content h2 {
    text-align: center;
  }
  .create .create-content .input-holder .recipeImage-holder {
    margin-bottom: 20px;
  }
  .create .create-content .input-holder .recipeImage-holder input {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .create .create-content .input-holder .recipeImage-holder .addBtn {
    position: absolute;
    right: 10%;
  }
  .create .create-content .input-holder input {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .create .ingredientForm p {
    font-size: 16px;
  }
  .create .ingredientForm input {
    font-size: 16px;
  }
  .create .instructionsForm p {
    font-size: 16px;
  }
  .create .instructionsForm input {
    font-size: 16px;
  }
  .create .createRecipesCreator {
    width: 354px;
  }
}
@media (max-width: 370px) {
  .create .create-content {
    min-height: 400px;
  }
  .create .create-content h2 {
    font-size: 20px;
  }
  .create .create-content .input-holder .recipeImage-holder {
    margin-bottom: 30px;
  }
  .create .create-content .input-holder .recipeImage-holder input {
    font-size: 12px;
  }
  .create .create-content .input-holder .recipeImage-holder a .addBtn {
    width: 92px;
    height: 33px;
    font-size: 12px;
  }
  .create .create-content .input-holder .recipeImage-holder a .addbtn:hover {
    font-size: 16px;
  }
  .create .create-content .input-holder input {
    font-size: 12px;
  }
  .create .ingredientForm p {
    font-size: 12px;
  }
  .create .ingredientForm input {
    font-size: 12px;
  }
  .create .instructionsForm p {
    font-size: 12px;
  }
  .create .instructionsForm input {
    font-size: 12px;
  }
  .create .createRecipesCreator {
    width: 283px;
    font-size: 20px;
  }
}
.yourRecipes {
  width: 100%;
  min-height: 1000px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(167, 232, 189, 0.8)), to(rgba(167, 232, 189, 0.8))), url(../images/recipe-hero.jpg);
  background-image: linear-gradient(to right, rgba(167, 232, 189, 0.8), rgba(167, 232, 189, 0.8)), url(../images/recipe-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.yourRecipes .yourRecipes-content {
  margin-top: 70px;
  width: 90%;
  min-height: 670px;
}
.yourRecipes .yourRecipes-content .headerPage {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
}
.yourRecipes .yourRecipes-content .headerPage h2 {
  font-size: 25px;
  font-family: caveatB;
}
.yourRecipes .yourRecipes-content .mod-holder {
  width: 300px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.yourRecipes .yourRecipes-content .mod-holder .modbtn {
  background-color: #ffd972;
  -webkit-box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
  width: 128px;
  height: 42px;
  border-radius: 26px;
  font-family: caveatR;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: black;
}
.yourRecipes .yourRecipes-content .mod-holder .modbtn:hover {
  font-family: caveatB;
}
.yourRecipes .yourRecipes-content .yourRecipes-holder {
  width: 100%;
  min-height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.yourRecipes .yourRecipes-content .yourRecipes-holder .recipe {
  width: 525px;
  min-height: 263px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .pizza {
  width: 300px;
  height: 263px;
  background-image: url(../images/recipe-pizza.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .pizza .viewbtn {
  background-color: #ffd972;
  -webkit-box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
  width: 128px;
  height: 42px;
  border-radius: 26px;
  font-family: caveatR;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: black;
}
.yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .pizza .viewbtn:hover {
  font-family: caveatB;
}
.yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .text-holder {
  width: 224px;
  height: 263px;
  background-color: azure;
  border-radius: 24px;
  padding: 40px;
}
.yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .text-holder .title {
  width: 130px;
  height: 20px;
  border-bottom: black 3px solid;
}
.yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .text-holder .title h1 {
  font-family: latoB;
  font-size: 15px;
}
.yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .text-holder .text {
  width: 138px;
  height: 55px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .text-holder .text p {
  font-size: 9px;
  font-family: latoR;
}
.yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .text-holder .info {
  width: 85px;
  height: 25px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .text-holder .info .servings {
  width: 24px;
  height: 22px;
  background-image: url(../images/servings.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .text-holder .info .time {
  width: 24px;
  height: 22px;
  background-image: url(../images/time.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .text-holder .info .words {
  width: 50px;
  height: 22px;
}
.yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .text-holder .info .words p {
  font-size: 10px;
  font-family: latoR;
}

@media (max-width: 900px) {
  .yourRecipes {
    margin: 0 auto;
  }
  .yourRecipes .yourRecipes-content {
    width: 520px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 580px) {
  .yourRecipes .yourRecipes-content .headerPage h2 {
    font-size: 20px;
    margin: 0 auto;
    width: 240px;
  }
  .yourRecipes .yourRecipes-content .mod-holder {
    margin: 0 auto;
  }
  .yourRecipes .yourRecipes-content .mod-holder .modbtn {
    width: 142px;
    height: 37px;
    font-size: 17px;
  }
  .yourRecipes .yourRecipes-content .yourRecipes-holder .recipe {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -20px;
  }
  .yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .text-holder {
    width: 298px;
    height: 169px;
  }
  .yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .text-holder .title {
    width: 86px;
    height: 15px;
    margin: -20px auto 0 auto;
  }
  .yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .text-holder .title h1 {
    font-size: 10px;
  }
  .yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .text-holder .text {
    width: 153px;
    margin: 10px auto;
  }
  .yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .text-holder .text p {
    font-size: 8px;
  }
  .yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .text-holder .info {
    margin: 0 auto;
  }
  .yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .text-holder .info .time {
    width: 23px;
    height: 22px;
  }
  .yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .text-holder .info .servings {
    width: 23px;
    height: 22px;
  }
  .yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .text-holder .info .words p {
    font-size: 8px;
  }
  .yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .pizza {
    width: 298px;
    height: 149px;
  }
  .yourRecipes .yourRecipes-content .yourRecipes-holder .recipe .pizza .viewbtn {
    width: 145px;
    height: 38px;
    font-size: 18px;
  }
}
.pizzarecipe {
  width: 100%;
  height: 1542px;
}
.pizzarecipe .top-section {
  width: 1012px;
  height: 421px;
  margin: 240px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pizzarecipe .top-section .right-content {
  width: 512px;
  height: 421px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pizzarecipe .top-section .right-content .title {
  width: 44px;
  height: 100%;
}
.pizzarecipe .top-section .right-content .title h1 {
  font-size: 25px;
  font-family: latoB;
  position: relative;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  min-width: 190px;
  left: -75px;
  top: 150px;
}
.pizzarecipe .top-section .right-content .image-holder {
  width: 468px;
  height: 100%;
  background-color: lightpink;
  background-image: url(../images/recipe-pizza.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pizzarecipe .top-section .left-content {
  width: 455px;
  height: 421px;
}
.pizzarecipe .top-section .left-content h2 {
  font-family: latoB;
  font-size: 25px;
  padding-bottom: 25px;
}
.pizzarecipe .top-section .left-content h3 {
  font-family: latoB;
  font-size: 20px;
  padding-bottom: 25px;
}
.pizzarecipe .top-section .left-content p {
  font-family: caveatR;
  font-size: 20px;
  padding-bottom: 25px;
}
.pizzarecipe .bottom-section {
  width: 1012px;
  height: 700px;
  margin: 60px auto 0 auto;
}
.pizzarecipe .bottom-section .info {
  min-height: 300px;
  margin-bottom: 60px;
  width: 100%;
}
.pizzarecipe .bottom-section .info h1 {
  font-size: 25px;
  font-family: latoB;
}
.pizzarecipe .bottom-section .info p {
  font-size: 20px;
  font-family: caveatR;
}
.pizzarecipe .bottom-section .btn {
  width: 128px;
  height: 42px;
  border-radius: 26px;
  background-color: #ffd972;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
  font-size: 20px;
  font-family: caveatR;
  color: black;
  text-align: center;
}
.pizzarecipe .bottom-section .btn:hover {
  font-family: caveatB;
}