.yourRecipes {
  width: 100%;
  min-height: 1000px;
  background-image: linear-gradient(
      to right,
      rgba(167, 232, 189, 0.8),
      rgba(167, 232, 189, 0.8)
    ),
    url(../images/recipe-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: firebrick;

  .yourRecipes-content {
    margin-top: 70px;
    width: 90%;
    min-height: 670px;
    // background-color: aqua;
    .headerPage {
      width: 100%;
      height: 50px;
      margin-bottom: 30px;
      // background-color: beige;
      h2 {
        font-size: 25px;
        font-family: caveatB;
      }
    }
    .mod-holder {
      width: 300px;
      height: 50px;
      //   background-color: antiquewhite;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .modbtn {
        background-color: #ffd972;
        box-shadow: 0 10px 6px rgba($color: #000000, $alpha: 0.16);
        width: 128px;
        height: 42px;
        border-radius: 26px;
        font-family: caveatR;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: black;
      }
      .modbtn:hover {
        font-family: caveatB;
      }
    }
    .yourRecipes-holder {
      width: 100%;
      min-height: 310px;
      // background-color: blue;
      display: flex;
      // align-items: center;
      justify-content: space-between;

      .recipe {
        width: 525px;
        min-height: 263px;
        // background-color: chocolate;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .pizza {
          width: 300px;
          height: 263px;
          background-image: url(../images/recipe-pizza.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 24px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          .viewbtn {
            background-color: #ffd972;
            box-shadow: 0 10px 6px rgba($color: #000000, $alpha: 0.16);
            width: 128px;
            height: 42px;
            border-radius: 26px;
            font-family: caveatR;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            color: black;
          }
          .viewbtn:hover {
            font-family: caveatB;
          }
        }
        .text-holder {
          width: 224px;
          height: 263px;
          background-color: azure;
          border-radius: 24px;
          padding: 40px;

          .title {
            width: 130px;
            height: 20px;
            // background-color: cadetblue;
            border-bottom: black 3px solid;
            h1 {
              font-family: latoB;
              font-size: 15px;
            }
          }
          .text {
            width: 138px;
            height: 55px;
            margin-top: 20px;
            margin-bottom: 30px;
            // background-color: beige;
            p {
              font-size: 9px;
              font-family: latoR;
            }
          }

          .info {
            width: 85px;
            height: 25px;
            margin: 20px auto;
            // background-color: aquamarine;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .servings {
              width: 24px;
              height: 22px;
              background-image: url(../images/servings.svg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            .time {
              width: 24px;
              height: 22px;
              background-image: url(../images/time.svg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            .words {
              width: 50px;
              height: 22px;
              p {
                font-size: 10px;
                font-family: latoR;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .yourRecipes {
    margin: 0 auto;
    .yourRecipes-content {
      width: 520px;
      margin: 0 auto;
      //   background-color: antiquewhite;
    }
  }
}

@media only screen and (max-width: 580px) {
  .yourRecipes {
    // min-height: 1800px;
    .yourRecipes-content {
      // background-color: forestgreen;
      // margin-top: 100px;
      .headerPage {
        h2 {
          font-size: 20px;
          margin: 0 auto;
          width: 240px;
        }
      }
      .mod-holder {
        margin: 0 auto;
        .modbtn {
          width: 142px;
          height: 37px;
          font-size: 17px;
        }
      }
      .yourRecipes-holder {
        .recipe {
          width: 100%;
          flex-direction: column;
          margin-top: -20px;
          .text-holder {
            width: 298px;
            height: 169px;
            // background-color: fuchsia;

            .title {
              width: 86px;
              height: 15px;
              margin: -20px auto 0 auto;
              // padding: 20px;
              // background-color: aliceblue;
              h1 {
                font-size: 10px;
              }
            }
            .text {
              width: 153px;
              margin: 10px auto;
              p {
                font-size: 8px;
              }
            }
            .info {
              // background-color: bisque;
              margin: 0 auto;
              .time {
                width: 23px;
                height: 22px;
              }
              .servings {
                width: 23px;
                height: 22px;
              }
              .words {
                p {
                  font-size: 8px;
                }
              }
            }
          }
          .pizza {
            width: 298px;
            height: 149px;
            .viewbtn {
              width: 145px;
              height: 38px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
